# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.os
*.bc
*.wasm

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.dblite

# Executables
*.exe
*.out
*.app

# Godot-specific ignores
.import/
export.cfg
logs
bin/**

# Mono-specific ignores
.mono/
data_*/
.vscode